RewriteEngine On

# Si la ruta no es un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
# Si la ruta no es un directorio existente  
RewriteCond %{REQUEST_FILENAME} !-d
# Redirigir todo a index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Redirecciones para URLs amigables
RewriteRule ^habitaciones/?$ habitaciones.php [L]
RewriteRule ^reservar/?$ reservar.php [L]
RewriteRule ^servicios/?$ servicios.php [L]
RewriteRule ^confirmacion/?$ confirmation.php [L]
